{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: Verdana;
        font-size: 18px;
        background-color: #FFFFFF;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 55px #FFFFFF;
        outline: 1px solid #654321;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Hey, I'm Raghad and I like to write sometimes. </h3>
                    <p class="text-light"><i> creative dumps. mediocre at best. &nbsp</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-lg mt-3 left">
            {% for post in post_list %}
            <div class="card mb-2">
                <div class="card-body">
                    <h3 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.created_on }} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}